body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }
  
.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.h1 {
    color: #fff;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="comentario"] {
    width: 100%;
}

button[type="submit"] {
    background-color: #808080;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}



.botoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botoes button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mostrar-contatos {
    background-color: #c0c0c0;
    color: #fff;
}

#ocultar-contatos {
    background-color: #FF5031;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    margin-right: 10px;
}

.remove-button {
    background-color: #5CD1D8;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #004D61;
}